h1
{
	font-size: 20px;
	color :blue;
}
#tieude
{
	font-size: 50px;
	display: flex;
    justify-content: center;
    color: red;
    font-weight: bold;

}
.header
{
	padding-left: 80px;
}
.inline
{
	display: inline;
}
.block
{
	display: block;
}

